body{
  background: linear-gradient(to right, #010201 0%, #030201 16%, #110500 71%, #7D1900 100%);
  color: white;
  padding: 1rem;
  overflow-x: hidden;
}

#logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
  background:linear-gradient(to bottom, #F77D14 0%, #EBAD09 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.5rem;
  font-weight: 600;
}
#win-game{
  width: 2rem;
  height: 2rem;
  background:linear-gradient(to bottom, #FA9837 0%, #FAC619 100%);
  display: flex;
  justify-content: center;
  align-items:center ;
}

#logo span img {
  width: 1rem;
  height: 1rem;
}

header ul li, footer ul li {
  cursor: pointer;
}
header ul li:hover, footer ul li:hover{
opacity: 0.4;}
header ul li:active, footer ul li:active{
opacity: 0.7;}

.header-btn {
  display: flex;
align-items: center;
gap: 0.5rem;
padding: 0.3rem 0.5rem;
border-radius: 5px;
}
a:active, a:hover{
  text-decoration: none;
}
#sign-up{
  border: 1px solid #F87715;
  background-color: transparent;
  color: #F87715;
}

#login{
  background: linear-gradient(to top, #F97920 30%, #F9BD24 80%);
  border: none;
  color: white;
}

